.icon-48-extension_types {
      background-image: url(../images/l_extension_types.png);
      padding-left:60px!important;
}

.icon-48-extension_type {
      background-image: url(../images/l_extension_types.png);
      padding-left:60px!important;
}

.color-box-extension_types { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}